@media  (max-width: 500px) {
  body {
    height: 100vh;
  }

  .container {
    width: 90%;
  }
}

@media (max-width: 394px) {
  .container {
    height: 420px;
  }
}

@media (max-width: 375px) {
  .card__buttons {
    width: 40px;
    height: 40px;
  }
}