* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 20%, 18%);
  --Very-Dark-Blue: #121417;

  --font--overpass: 'Overpass', sans-serif;
}

body {
  font-size: 15px;
  font-family: var(--font--overpass);
  background-color: var(--Very-Dark-Blue);
  width: 100vw;
}

.container {
  background-color: var(--Dark-Blue);
  width: 400px;
  height: 400px;
  padding: 30px;
  border-radius: 30px;
  margin: 220px auto;
}

.card__icon--container {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--Medium-Grey);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.card__title {
  color: var(--White);
  font-weight: 700;
  margin-bottom: 10px;
}

.card__text {
  color: var(--Light-Grey);
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 30px;
}

.card__buttons--container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card__buttons {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--Medium-Grey);
  color: var(--White);
  font-weight: 500;
  border: none;
}

.card__buttons:hover {
  background-color: var(--Orange);
  cursor: pointer;
  transition: ease 0.3s;
}

.card__buttons:focus {
  background-color: var(--Very-Dark-Blue);
  color: var(--Orange);
}

.card__cta {
  width: 100%;
  background-color: var(--Orange);
  color: var(--White);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
  border: none;
  border-radius: 30px;
  padding: 15px;
}

.card__cta:hover {
  background-color: var(--White);
  color: var(--Orange);
  cursor: pointer;
}

.thankyou {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thankyou__img {
  margin-bottom: 20px;
}

.thankyou__rating {
  background-color: var(--Very-Dark-Blue);
  color: var(--Orange);
  padding: 10px;
  border-radius: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}

.thankyou__title {
  color: var(--White);
  margin-bottom: 20px;
}

.thankyou__text {
  text-align: center;
  color: var(--Light-Grey);
  font-weight: 500;
  line-height: 1.5;
}

.inactive {
  display: none;
}

